<template name="appBody">
  <body>
    <!-- Fixed navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{pathFor route="home"}}">LibertAÇÃO</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li> {{> loginButtons}} </li>
        <li> {{> i18n_dropdown_semantic}} </li>
      </ul>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
      {{> yield}}
</div>
</body>
</template>
