<template name="appBody">
  <body>
    <!-- Fixed navbar -->
    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">{{> loginButtons}}</a></li>
            <li role="presentation"><a href="#">{{> i18n_dropdown_bootstrap3_component}}</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">{{_ "admin-panel"}}</h3>
      </div>
<!-- Begin page content -->
<div class="container">
      {{> yield}}
</div>
</body>
</template>
